$primaryColor: #9900ff;

.frame {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formData {
  background-color: lightcyan;
  color: black;
}

.formArrayActions {
  margin: 24px;
  width: 50%;

  & > button {
    color: white;
    background-color: $primaryColor;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
  }
}